body {
  font-family: "Georgia", "Times New Roman", serif;
}

/*background*/
body {
  background: radial-gradient(circle at top, #2b2b2b 0, #000 60%);
}

.house-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
#sortingHat:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.4));
}

